.header {
  padding: 3rem 0;
  color: #a6130d;
}

.header h1 {
  font-family: 'Montserrat-Bold';
  font-size: 4rem;
}

.footer {
  color: white;
  background: #333; 
}

.footer span {
  font-weight: bold;
}

