.header {
  font-weight: bold;
  padding: 3rem 0;
  background: rgb(166,18,13);
  background: linear-gradient(180deg, rgba(166,18,13,1) 0%, rgba(221,27,22,1) 69%, rgba(179,179,179,1) 100%);
  color: white;
}

.footer {
  color: white;
  background: #333; 
}

.footer span {
  font-weight: bold;
}