<div class="container col-12">
  <div class="header row">
    <div class="col-sm-12 d-flex justify-content-center">
      <h1>{{title | uppercase}}</h1>
    </div>
  </div>

  <custom-form 
    [employee]="employee" 
    [optionsPosition]="options"               
    [edit]="editForm"
    (addEmployee)="addEmployee($event)" 
    (editEmployee)="updateEmployee($event)" 
    (closeUpdateForm)="closeUpdateForm($event)">
  </custom-form>

  <custom-table [employees]="employees" (editEmployee)="editEmployee($event)" (deleteEmployee)="deleteEmployee($event)"></custom-table>
  <sticker-message [msg]='msg' (closeAlert)="closeAlert($event) "></sticker-message>
  <footer class="footer row">
    <div class="col-12 d-flex justify-content-end pt-3 pb-3">
      <span>App developed by ajimenez.developer@gmail.com</span>
    </div>
  </footer>
</div>